p {
    color: #660066;
    width: 500px;
    border: 1px solid black;
    font-size: 20px;
}

ol,
ul {
    color: #d3176f;
    letter-spacing: 1px;
}

h2 {
    font-size: 55px;
    text-align: center;
}

.my-clazz {
    color: aqua;
}

html {
    background-color: #00539f;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #ff9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: #00539f;
    text-shadow: 3px 3px 1px black;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
}

